* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

table {
    width: 600px; /* Total width for the table */
    border-collapse: collapse; /* Merge borders */
    margin: 20px auto; /* Center the table */
}

td {
    height: 30px; /* Set height for table cells */
    vertical-align: left; /* Center content vertically in each cell */
}

.ticksCell {
    width: 400px;
    position: relative;
    padding-bottom: 5px;
    font-size: small;
}

.labelCell {
    width: 200px; /* Width for the label column */
}

.graphicalCell {
    width: 400px; /* Width for the value column */
    position: relative; /* Position relative to allow absolute positioning of inner elements */
    background: linear-gradient(to right, rgba(243, 126, 119, 0.7), rgba(77, 200, 129, 0.7)); /* Gradient background */
    text-align: center; /* Center align text in the right column */
}

.bar {
    height: 20px; /* Set height of the bar to 20px */
    transition: width 0.3s ease; /* Smooth transition for width changes */
    background: #eee6;
    border: 1px solid white; border-left: none;
}
