* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.localExplanationsTable {
    width: 600px;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    height: 30px;
    vertical-align: left;
}

.ticksCell {
    width: 400px;
    position: relative;
    padding-bottom: 5px;
    font-size: small;
}

.labelCell {
    width: 200px;
}

.contentCell {
    width: 400px;
    position: relative;
    text-align: center;
}

.probabilityMarker {
    height: 30px;
    background: #eee8;
    border: 1px solid white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalLine {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  top: 0px;
  left: 50%; /* Middle line at 50% of container */
}

.bar {
  position: absolute;
  height: 20px;
  top: calc(50% - 10px); /* Center vertically */
  background-color: #eee;
  border: 1px solid #ccc;
}